<h1> Mixtapes! </h1>

<h2><%= link_to "Create new tape", new_tape_path %></h2>

<table>
  <tr>
    <th>Name</th>
    <th>Songs</th>
  </tr>

  <% @tapes.each do |tape| %>
    <tr>
      <td><%= link_to tape.name, tape %></td>
      <td>
      	  <% tape.songs.each do |song| %>
            <ul>
              <li> <%= song.title %>, <%= song.artist %> </li>
            </ul>
          <% end %>
      </td>
      <td><%= link_to 'Destroy', tape, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
  	</tr>
<% end %>
</table>



