<h2><%= @tape.name %></h2>
<h3> Songs: </h3>
<ul>
  <% @tape.songs.each do |song| %>
    <% if song.persisted? %>
        <li> <%= song.title %>, <%= song.artist %></li>
    <% end %>
  <% end %>
</ul>



<h2>Add a song:</h2>
<h3>Existing songs:</h3>
<%= options_from_collection_for_select(Song.all, :id, :title) %>

<h3>Add a new song</h3>
<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

   <%= f.label :artist %>
   <%= f.text_field :artist %>

   <%= f.hidden_field :tape_id, value: @tape.id %>
   <%= f.submit %>
<% end %>

