<!DOCTYPE html>
<html>
  <head>
    <title>Mix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <ul class="nav nav-tabs">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
      </ul>
    </div>
   </body>
</html>
